.collection-div{
    text-align: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 100px;
}

.collection-div .collection-div-card{
    width: 90%;
    height: 80%;
    background-color: rgb(245, 244, 244);
    margin-bottom: 100px;
    margin-top: 30px;
    justify-items: center;
    border-radius: 15px;
}
.collection-div .collection-div-card div{
    border-radius: 12px;
    margin-left:15%;
    margin-top: 10%;
    width: 70%;
    
    background-color: rgba(218, 178, 178, 0.582);
    
}
.collection-div .collection-div-card p{
    font-weight: 300;
   /* padding: 10px 0px; */
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


@media (min-width : 425px) and (max-width: 768px) {
    .collection-div{
        
        grid-template-columns: 1fr 1fr ;
    }
    .collection-div .collection-div-card p{
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
         
    .collection-div{
        
        grid-template-columns: 1fr;
    }
}