
.home-refurbished-div{
   margin-top: 30px;
}

.home-refurbished-head{
    text-align: center;
}
.home-refurbished-head h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}